.calculator {
  width: 300px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
}

input {
  width: 97%;
  height: 4vh;
  background-color: #80808080;
}

.calculator-display {
  text-align: right;
  margin-bottom: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* gap: 10px; */
}

.calc-button {
  padding: 21%;
  border: 1px solid #00000038;
}

.operator-button {
  background-color: orange;
}
